@use 'login';
@use 'dashboard';
@use 'header';
@use 'sidebar';
@use 'modal';
@use 'button';
@use 'hr/employee-tab';
@use 'modals/pdsformmodal';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
}
