* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
}

@import 'login';
@import 'dashboard';
@import 'header';
@import 'sidebar';
@import 'modal';

//HR Tabs Styles
@import 'hr/employee-tab';
